/* Chat container */
.chat-container {
  display: flex;
  flex-direction: column;
}

/* Chat header */


/* Chat messages */
.chat-messages {
  flex-grow: 1;
  padding: 10px;
  height: 660px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
 
}

/* User and bot messages */
.chat-message {
  display: flex;
  margin-bottom: 15px;
 

}

.user-message {
  justify-content: flex-end;
  text-align: right;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.bot-message {
  justify-content: flex-start;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* Avatar icon */
.user-icon, .bot-icon {
  margin-right: 10px;
}

 .bot-icon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.user-icon img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}



/* Message text */
.user-message {
  padding: 10px;
  border-radius: 10px;
  background-color: #5b5b5bcc;
  max-width: 60%;
 
}
.bot-message {
  padding: 10px;
  border-radius: 10px;
  background-color: #07a3f1;
  max-width: 60%;
 
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.message-input {
  flex-grow: 1;
  border: 1px solid #c4c5c7;
  border-radius: 6px;
  height: 50px;
  width: auto;
}

.send-button {
  margin-left: 2px;
  border-radius: 50%;
}


.user {
  justify-content: flex-end; /* Right-align user messages */
}

/* Bot message container */
.bot {
  justify-content: flex-start; /* Left-align bot messages */
}
.chat-section{
  height:   770px;
  
}


.chat-messages::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #cacaca; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */

  /* Hover effect */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #c5c3c3; /* Change thumb color on hover */
  width: 10px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #7c7c7c; /* Color of the scrollbar track */
}
