.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .chat-messages {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .previous-messages {
    margin-bottom: 20px;
  }
  
  .previous-message {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .chat-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
  }
  
  .bot {
    align-self: flex-end;
    background-color: #36b9cc;
    color: white;
  }
  
  .user {
    align-self: flex-start;
    background-color: #f0f0f0;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .message-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .send-button {
    background-color: #36b9cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  