/* Additional custom styles for the Navbar */

/* Align user image vertically centered */
.user-image {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  /* Media query for smaller screens */
  .rounded-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }


  /* NavBar.css */

/* Light Theme */


.navbar-dark .nav-link {
  color: #f8f9fa; /* Dark link text color */
}

/* Dark Theme Body */
.dark-theme {
  background-color: #343a40; /* Dark background color for the entire page */
  color: #f8f9fa; /* Dark text color for the entire page */

}


.dark-theme input, .dark-theme input:focus,.dark-theme input::placeholder{
  background-color: #343a40; /* Dark background color for the entire page */
  color: #f8f9fa; 
  
}

